<div redirect-unauthorized>
  <modal #modal>
    <modal-header [show-close]="true">
      <span *ngIf="!_loggingOut">Login</span>
      <span *ngIf="_loggingOut">Logout</span>
    </modal-header>
    <modal-body>
      <div class="alert alert-danger" *ngIf="error != null">
        <strong>Failed to login!</strong> {{ error }}
      </div>
      <div class="alert alert-success" *ngIf="success != null && error == null">
        <strong>Success!</strong> {{ success }}
      </div>
      <div class="alert alert-warning" *ngIf="_loggingOut">
        Logging out, please wait...
      </div>
      <div *ngIf="!_loggingOut">
        <form [ngFormModel]="loginForm"
              role="form"
              class="form"
              (submit)="login($event)">
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control"
                   id="username"
                   ngControl="username"
                   type="text"
                   placeholder="Your username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control"
                   id="password"
                   ngControl="password"
                   type="password"
                   placeholder="Your password" />
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Log in</button>
          </div>
        </form>
      </div>
    </modal-body>
  </modal>
</div>