<!--
    TODO: turn this into a bootstrap accordian, where each item has a
    logmanager-config directive with the following check:

      <logmanager-config *ngIf="selectedConfig.id == config.id"
                         [config]="config"></logmanager-config>
  -->

<div class="text-center" *ngIf="isLoading">Loading...</div>
<div class="list-group" *ngIf="!isLoading">
  <a href="#"
      *ngFor="#config of configs"
      class="list-group-item"
      [class.active]="config == selectedConfig"
      (click)="selectConfig($event, config)">
    <div class="row">
      <div class="col-sm-1">{{ config.id }}</div>
      <div class="col-sm-11">{{ config.name || "(no name configured)" }}</div>
    </div>
  </a>
  <a href="#" class="list-group-item"
              [class.active]="selectedConfig != null && selectedConfig.id == null"
              (click)="createConfig($event)">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <span *ngIf="selectedConfig != null && selectedConfig.id == null">
          {{ selectedConfig.name || "New Config" }}
        </span>
        <span *ngIf="selectedConfig == null || selectedConfig.id != null">
          New Config
        </span>
      </div>
    </div>
  </a>
</div>
<logmanager-config *ngIf="selectedConfig != null"
                   [config]="selectedConfig"></logmanager-config>