<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngIf="authService.isAuthenticated()">
        <li [class.active]="_router.isRouteActive(_router.generate(['Home']))">
          <a [routerLink]="['Home']">Home</a>
        </li>
        <li [class.active]="_router.isRouteActive(_router.generate(['Configurations Editor']))">
          <a [routerLink]="['Configurations Editor']">Configurations Editor</a>
        </li>
        <li [class.active]="_router.isRouteActive(_router.generate(['Log Review Wizard']))">
          <a [routerLink]="['Log Review Wizard']">Log Review Wizard</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"
               *ngIf="!authService.isAuthenticated()"
               (click)="login($event)">Login</a></li>
        <li><a href="#"
               *ngIf="authService.isAuthenticated()"
               (click)="logout($event)">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
<login-form></login-form>
<router-outlet></router-outlet>